*.key
*.crt
*.txt
*.htaccess
*.jpeg
*.JPEG
*.jpg
*.JPG
*.MOV
*.mov
*.png
*.PNG
*.mp4
*.MP4
*.pdf
*.PDF

uploads/*.key
uploads/*.crt
uploads/*.txt
uploads/*.htaccess
uploads/*.jpeg
uploads/*.JPEG
uploads/*.jpg
uploads/*.JPG
uploads/*.MOV
uploads/*.mov
uploads/*.png
uploads/*.PNG
uploads/*.mp4
uploads/*.MP4
uploads/*.pdf
uploads/*.PDF

